/* This is a comment */
@font-face {
  font-family: MINGLIU, BIZ UDGothic;
  src: url(https://christinekerres.github.io/Portfolio_Christine/fonts/MINGLIU.ttf);
  src: url(https://christinekerres.github.io/Portfolio_Christine/fonts/BIZUDMincho-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: auto;
  font-family: MingLiU, serif;
  src: url("https://christinekerres.github.io/Portfolio_Christine/fonts/MINGLIU.ttf");
  font-size: 2.3vw;
  color: #0122f5;
}
.fixed {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 3;
}

.container03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*border:2px solid lime ;*/
}

.popup {
  zoom: 1;
  text-decoration: none;
  display: inline; /* element nicht als block! */
}
.popup p {
  position: fixed;
  top: 70px;
  left: 10px;
  right: 10px;
  left: -999em;
  z-index: 990;
}
.popup:hover p {
  left: 15px;
}
* html .popup p {
  position: absolute;
}

/*PROJECTS////////////////////////////////////////////////////////////////////////*/
.local-recreation-area {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  align-items: start;
  gap: 4px;
  transform: scale(1);
  position: relative;

  left: 0%;
  margin-bottom: 0;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.virtual-viscosity {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  align-items: start;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.flat-is-dead {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;
  align-items: start;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.gda-hallway {
  display: grid;
  grid-template-columns: 25% 40% 35%;
  grid-template-rows: auto auto;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.converting-body {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  align-items: top;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.unheimlich {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  align-items: end;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.s-he {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  align-items: top;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.pandemic-dreams {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  align-items: end;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 40px !important;
  transition: margin-bottom 0.8s ease-out;
}
.design-kiosk {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 80% 20%;
  align-items: top;
  gap: 4px;
  transform: scale(1);
  position: relative;
  right: 0%;
  margin-left: 5px !important;
  margin-right: 15px !important;
  transition: margin-bottom 0.8s ease-out;
}

@media (max-width: 768px) {
  .local-recreation-area,
  .virtual-viscosity,
  .flat-is-dead,
  .gda-hallway,
  .converting-body,
  .unheimlich,
  .s-he,
  .pandemic-dreams,
  .design-kiosk {
    display: block;
    transform: scale(1);
    position: relative;
    left: 0%;
    margin-bottom: 50px;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .project-description-sp {
    display: block !important;
  }
  #hoverbild,
  .project-description {
    display: none !important;
  }
  img {
    width: 100% !important;
  }
  .fixed {
    font-size: 20px;
  }
}
@media (max-height: 600px) {
  img,
  video {
    align-self: flex-start !important;
  }
  .local-recreation-area,
  .virtual-viscosity,
  .flat-is-dead,
  .gda-hallway,
  .converting-body,
  .unheimlich,
  .s-he,
  .pandemic-dreams,
  .design-kiosk {
    margin-bottom: -80px;
  }
  .project-description-title,
  a {
    display: none;
  }
}
@media (max-height: 400px) {
  img,
  video,
  .project-description,
  .project-description-sp {
    display: none !important;
  }
  .local-recreation-area,
  .virtual-viscosity,
  .flat-is-dead,
  .gda-hallway,
  .converting-body,
  .unheimlich,
  .s-he,
  .pandemic-dreams,
  .design-kiosk,
  .popup {
    grid-template-rows: auto !important;
    transform: scale(1) !important;
    right: 0% !important;
    width: 100% !important;
    margin-bottom: 0 !important;
    margin-top: 0% !important;
    line-height: 20px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/*////////////////////////////////////////////////////////////////////////*/
img {
  border-radius: 3px;
  width: auto;
  max-width: 100%;
  height: auto;
}
video {
  border-radius: 3px;
  width: auto;
  max-width: 100%;
  height: auto;
}
.project-description {
  font-family: Necto Mono !important;
  display: block;
  text-align: center !important;
  margin-top: 0.2em;
  color: #2c2c2c;
  font-size: 1.4vw;
  background-color: #dde5db;
}
.project-description-sp {
  font-family: Necto Mono;
  text-align: justify !important;
  text-align-last: justify !important;
  display: none;
  color: #2c2c2c;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  margin-top: -20px;
  font-size: 15px;
}
.project-description-title {
  font-family: Selectric Mono !important;
  color: #2c2c2c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: mingLiU;
  src: url("https://christinekerres.github.io/Portfolio_Christine/fonts/MINGLIU.ttf");
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  text-shadow: 2px 2px 5px #9cbff4;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: #0122f5;
}
a:hover {
  background-color: #ffffffc8;
  box-shadow: #0122f579 0 -25px 18px -14px inset, #0122f579 1px 2px,
    #0122f579 0 2px 4px, #0122f579 0 4px 8px, #0122f579 0 8px 16px,
    #0122f579 0 16px 32px;
  border-radius: 3px;
  padding: 1px 1px;
}
footer {
  color: #2c2c2c;
  font-size: 14px;
  text-align: left !important;
  margin: 10px;
  font-family: MingLiu !important;
}

/*////Visitenkarte////////////////////////////////////////////////////////////////////*/
.body-info {
  font-family: BIZ UDGothic;
  color: #2c2c2c;
  width: 550px;
  height: 170px;
  font-size: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: center center;
  transition: 0.8s ease-out;
}
@media (min-width: 552px) and (min-height: 172px) {
  .body-info {
    box-shadow: #0122f579 0 -25px 18px -14px inset, #0122f579 1px 2px,
      #0122f579 0 2px 4px, #0122f579 0 4px 8px, #0122f579 0 8px 16px,
      #0122f579 0 16px 32px;
    padding: 10px;
    border-radius: 3px;
  }
}
.info-container {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 140px 30px;
  line-height: 25px;
}
.link {
  font-family: mingLiU;
  -webkit-text-stroke-width: 1px;
  color: #2c2c2c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}
.link-small {
  font-family: BIZ UDGothic;
  color: #2c2c2c;
  display: flex;
  font-size: 15px;
}
